<h2>Restaurants:</h2>
<% @restaurants.each do |restaurant| %>
    <h3><%= link_to restaurant.name, neighborhood_restaurant_path(restaurant.neighborhood, restaurant)%> | <%= restaurant.neighborhood[:name] %></h3>
<% end %>
