<h2>New Neighborhood:</h2>
<%= form_for @neighborhood, url: neighborhoods_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit :class=>"submit"%>
  </p>
<% end %>
