body{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.hero{
  background-image: url("taco_pattern.jpg");
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-family: 'Bungee Shade', cursive;
  font-size: 80px;
  margin-bottom: 1px;
  margin-top: 5px;
  text-align: center;
}

.user {
  margin-bottom: 5px;
  text-align: right;
  font-family: 'Bungee', cursive;
  font-size: 15px;
  width: 100%;
}
p{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 15px;
}
li{
  list-style-type: square;
  padding-left: 45px;
}

h2{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 25px;
}

h3{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 20px;
}

h4{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 20px;
  margin-bottom: 1px;
  margin-top: 10px;
}
a:link{
  text-decoration: none;
}

#website{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 15px;
}

#index {
  font-family: 'Bungee', cursive;
  font-size: 28px;
  padding-bottom: 30px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
#index li{
  list-style-type: none;
  flex-grow: 1;
  padding-left: 0px;
}
/*#index li:first-child{
  padding-left: 0px;
}*/
.city {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  margin-top: 0px;
  padding-left: 700px;
  text-align: center;
}
a.fav {
  text-decoration: none;
  color: yellow;
}

a.no-fav {
  text-decoration: none;
  color: black;
}



form{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 15px;
}

form input{
  width: 300px;
}

.text{
  width: 300px;
}

.submit{
  width: 150px;
}

.neighborhood{
  display: flex;
  margin-top: 0px;
  margin-bottom: 7px;
}

.smaller{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 15px;
}
.restaurant{
float:left;
width:60%;
overflow:hidden;
padding-bottom: 20px;
}

.header{
float:left;
width:40%;
overflow:hidden;
padding-top: 10px;
}
#taco{
  margin-top: 0px;
  margin-bottom: 10px;
}
a {
  color: #551A8B;
}
@media screen and (max-width: 620px){
  main{
    display: flex;
    flex-direction: column;
  }
  .title{
    font-size: 60px;
    order: 1;
    padding-left: 15px;
    padding-right: 15px;
  }
  .city{
    font-size: 20px;
    padding-left: 150px;
    order: 2;
  }
  .hero{
    max-width: 400px;
    display: flex;
    flex-direction: column;;
    background: stretch;
    align-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px 10px 5px 10px;
  }
  .user{
    order: 3;
    font-size: 14px;
  }
  #user{
    padding-right: 50px;
  }
  #index{
    max-width: 350px;
    display: flex;
    font-size: 13.5px;
    padding: 0px 5px 0px 5px;
  }
  #index li{
    padding-left: 0px;
  }
  h2{
    font-size: 24px;
    padding: 0px 5px 0px 5px;
  }
  h4{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    max-width: 350px;
    padding: 0px 5px 0px 5px;
  }
  h3{
    max-width: 350px;
    font-size: 20px;
    padding: 0px 5px 0px 5px;
  }
  form{
    max-width: 350px;
    padding: 0px 5px 0px 5px;
  }
  #restaurantInfo{
    display: flex;
    flex-direction: column;
  }
  .restaurantIndex{
    font-size: 17px;
  }
  .restaurant{
    float: left;
    width: 100%;
  }
  .restaurant p{
      margin: 1px 0px 1px 0px;
  }
  p{
    max-width: 350px;
    padding: 0px 5px 0px 5px;
  }
  .header{
    width: 100%;
  }
  #taco{
    font-size: 20px;
    margin: 0px;
    max-width: 350px;
    padding: 0px 5px 0px 5px;
  }
  .description{
    font-size: 14px;
    max-width: 350px;
  }
}
/*@media screen and (max-width: 750px){
  main{
    display: flex;
    flex-direction: column;
  }
  .title{
    font-size: 50px;
    order: 1;
    padding-left: 15px;
    padding-right: 15px;
  }
  .city{
    font-size: 20px;
    padding-left: 150px;
    order: 2;
  }
  .hero{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    background: stretch;
    align-content: center;
    padding-top: 0px;
  }
  .user{
    order: 3;
    font-size: 14px;
  }
  #user{
    padding-right: 50px;
  }
  #index{
    max-width: 700px;
    display: flex;
    font-size: 18px;
    padding: 0px 10px 0px 10px;
  }
  #index li{
    padding-left: 0px;
  }
  h2{
    font-size: 24px;
    padding: 0px 5px 0px 5px;
  }
  h4{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    max-width: 350px;
    padding: 0px 5px 0px 5px;
  }
  h3{
    max-width: 700px;
    font-size: 20px;
    padding: 0px 5px 0px 5px;
  }
  form{
    max-width: 400px;
    padding: 0px 5px 0px 5px;
  }
  #restaurantInfo{
    display: flex;
    flex-direction: column;
  }
  .restaurantIndex{
    font-size: 22px;
  }
  .restaurant{
    float: left;
    width: 100%;
  }
  .restaurant p{
      margin: 1px 0px 1px 0px;
  }
  p{
    max-width: 700px;
    padding: 0px 10px 0px 10px;
  }
  .header{
    width: 100%;
  }
  #taco{
    font-size: 24px;
    margin: 0px;
    max-width: 700px;
    padding: 0px 10px 0px 10px;
  }
  .description{
    font-size: 18px;
    max-width: 700px;
  }
}*/
