/* NHO: FYI, don't think it made a difference here, but would caution against
  deleting the comments in the application.css and application.js files as they are special
  and power the Rails Asset Pipeline
*/
/* NHO: loved the styles and overall design! */
body{
  width: 1000px;
  margin: 0 auto;

}

.hero{
  background-image: url("taco_pattern.jpg");
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 5px;
}


.title {
  font-family: 'Bungee Shade', cursive;
  font-size: 80px;
  margin-bottom: 1px;
  margin-top: 5px;
  text-align: center;
}

.user {
  margin-bottom: 5px;
  text-align: right;
  font-family: 'Bungee', cursive;
  font-size: 15px;
  width: 100%;
}
p{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 15px;
}
li{
  list-style-type: square;
}

h2{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 25px;
}

h3{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 20px;
}

h4{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 20px;
  margin-bottom: 1px;
  margin-top: 10px;
}
a:link{
  text-decoration: none;
}

#website{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 15px;
}

#index {
  font-family: 'Bungee', cursive;
  font-size: 28px;
  padding-bottom: 30px;
  padding-top: 15px;
}

h2.city {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  margin-top: 0px;
  padding-left: 700px;
  text-align: center;
}
a.fav {
  text-decoration: none;
  color: yellow;
}

a.no-fav {
  text-decoration: none;
  color: black;
}

li{
  padding-left: 45px;
}

form{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 15px;
}

form input{
  width: 300px;
}

.text{
  width: 300px;
}

.submit{
  width: 150px;
}

.neighborhood{
  display: flex;
  margin-top: 0px;
  margin-bottom: 7px;
}

.smaller{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 15px;
}
.restaurant{
float:left;
width:60%;
overflow:hidden;
padding-bottom: 20px;
}

.header{
float:left;
width:40%;
overflow:hidden;
padding-top: 10px;
}

#taco{
  margin-top: 0px;
  margin-bottom: 10px;
}

a {
  color: #551A8B;
}
